<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>643358416228-h1dhvaja20hn1orsspot0c2hhvnfpbd5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.643358416228-h1dhvaja20hn1orsspot0c2hhvnfpbd5</string>
	<key>API_KEY</key>
	<string>AIzaSyDpaypmiwSktqpvo9BFm2ujfUA9DOC9R08</string>
	<key>GCM_SENDER_ID</key>
	<string>643358416228</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.LinkerApp</string>
	<key>PROJECT_ID</key>
	<string>linkerapp-24c72</string>
	<key>STORAGE_BUCKET</key>
	<string>linkerapp-24c72.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:643358416228:ios:aaa6c3839cf45b0e8b6e71</string>
</dict>
</plist>